@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';
@import './element-ui.scss';
@import './sidebar.scss';
@import './btn.scss';
@import './eladmin.scss';
@import './other.scss';
@import './table.scss';
// html{
//   line-height: normal;
// }

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Microsoft YaHei, Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  margin: 0;
}

ul,
ol li {
  list-style: none;
}

label {
  font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app {
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.ml-10 {
  margin-left: 10px;
}

.align-left {
  text-align: left;
  .el-input__inner {
    text-align: left;
  }
}

.flex-r {
  display: flex;
  flex-direction: row;
}
.flex-c {
  display: flex;
  flex-direction: column;
}
.flex-rbc {
  @extend .flex-r;
  justify-content: space-between;
  align-items: center;
}
.flex-rsc {
  @extend .flex-r;
  justify-content: flex-start;
  align-items: center;
}

.flex-rec {
  @extend .flex-r;
  justify-content: flex-end;
  align-items: center;
}

.flex-rbs {
  @extend .flex-r;
  justify-content: space-between;
  align-items: flex-start;
}

.flex-rss {
  @extend .flex-r;
  justify-content: flex-start;
  align-items: flex-start;
}

.flex-rcc {
  @extend .flex-r;
  justify-content: center;
  align-items: center;
}

.flex-cac {
  @extend .flex-c;
  justify-content: space-around;
  align-items: center;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.not-allowed {
  cursor: not-allowed;
}

.text-clickable {
  cursor: pointer;
  color: #1881ef;
}

// TODO: 改为inline-block
.inline-block {
  display: inline-block;
}

// 清除浮动
.clearfix {
  &:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: ' ';
    clear: both;
    height: 0;
  }
}

//main-container全局样式
.app-container {
  padding: 20px;
}

.components-container {
  margin: 30px 50px;
  position: relative;
}

// 分页盒子
.pagination-container {
  padding: 20px;
  box-sizing: border-box;
}

// 文字居中
.text-center {
  text-align: center;
}

// 超链
.link-type,
.link-type:focus {
  color: #337ab7;
  cursor: pointer;

  &:hover {
    color: rgb(32, 160, 255);
  }
}

// 展示表单信息的el-dialog-title样式
.dialog-title {
  display: flex;
  align-items: center;

  .title {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    margin-right: 15px;
    color: #000;
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;

    &::before {
      content: '';
      width: 4px;
      height: 15px;
      border-radius: 10px;
      background: #1890ff;
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
  }
}

// 标题前方蓝线
.line-title {
  display: inline-block;
  position: relative;
  padding-left: 10px;
  box-sizing: border-box;
  font-weight: bold;
  color: #303133;
  &:before {
    content: '';
    width: 4px;
    height: 18px;
    border-radius: 10px;
    background: #1890ff;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.el-form {
  .form-tip-item {
    margin-bottom: 8px !important;
  }
}

.common-dialog {
  .el-dialog__header {
    padding-bottom: 0px;
  }
}

// 表单提示信息
.form-item-tip {
  display: block;
  margin-top: 8px;
  line-height: 20px;
  color: #e6a23cc2;
}
.form-item-tip + .form-item-tip {
  margin-top: 5px;
}

.el-form--label-top {
  .form-item-tip {
    margin-top: 14px;
  }
  .form-item-tip + .form-item-tip {
    margin-top: 5px;
  }
}

// 模态框（外层盒子）
.dialog-container {
  padding: 0px 20px 20px 20px;
  overflow: auto;
}

.icon-readonly {
  color: darkgrey;
}

//vue-multiselect样式修改
.multiselect {
  line-height: 16px;
}

.multiselect--active {
  z-index: 1000 !important;
}

.child-mr-10 > :nth-child(n) {
  margin-left: 0!important;
  margin-right: 10px;
}

.child-mr-10 > :last-child {
  margin-right: 0;
}

.child-mr-7 > :nth-child(n) {
  margin-left: 0!important;
  margin-right: 7px;
}

.child-mr-7 > :last-child {
  margin-right: 0;
}


.child-mr-6 > :nth-child(n) {
  margin-left: 0!important;
  margin-right: 6px;
}

.child-mr-6 > :last-child {
  margin-right: 0;
}

.pre-wrap {
  white-space: pre-wrap;
}

.number-badge {
  display: inline-block;
  color: white;
  background-color: red;
  font-size: 12px;
  height: 16px;
  min-width: 20px; 
  line-height: 16px;
  text-align: center;
  border-radius: 15px;
  padding: 0 4px;
}

// 自定义options-item
.customize-option-item {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  .label {
    > .el-icon {
      margin-right: 10px;
    }
  }
  .extra-label {
    margin-right: 10px;
    &:last-child {
      margin: 0;
    }
  }
}

.customize-option-item > span:nth-child(1) {
  flex: none;
  margin-right: 15px;
}
.customize-option-item > span:nth-child(2) {
  // flex: auto;
  color: #8492a6;
  font-size: 13px;
  .title {
    color: #9b6161;
  }
}

// TODO:遮罩
.mask-container {
  background-color: hsla(0, 0%, 100%, 0.8);
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

// 拖动窗口
.drag {
  -webkit-app-region: drag;
  -webkit-user-select: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 20px;
  z-index: 9999;
}

// TODO: 滚动条(可将横向滚动条加宽并向下偏移)
::-webkit-scrollbar {
  /*滚动条整体样式*/
  width: 10px; /*高宽分别对应横竖滚动条的尺寸*/
  height: 10px;
}

::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 5px#9e9191;
  background: #9e9191;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #878987;
}
::-webkit-scrollbar-track {
  /*滚动条里面轨道*/
  // -webkit-box-shadow: inset 0 0 5px #b8b8b8;
  border-radius: 0px;
  background: #ededed;
}
