// global transition css

/* 透明 fade */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.28s;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* 透明，x轴移动 fade-transform */
.fade-transform-leave-active,
.fade-transform-enter-active {
  transition: all .5s;
}

.fade-transform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-transform-leave-to {
  opacity: 0;
  transform: translateX(30px);
}

/*
* 解决页面内因transform导致position：fixed失效问题
* 根据meta内的transition判断使用
*/
/* fade-notransform */
.fade-notransform-leave-active,
.fade-notransform-enter-active {
  transition: all .5s;
}

.fade-notransform-enter {
  opacity: 0;
}

.fade-notransform-leave-to {
  opacity: 0;
}
/* fade-intransform */
.fade-intransform-leave-active,
.fade-intransform-enter-active {
  transition: all .5s;
}

.fade-intransform-enter {
  opacity: 0;
  transform: translateX(-30px);
}

.fade-intransform-leave-to {
  opacity: 0;
}

/* 面包屑过渡动画 */
.breadcrumb-enter-active,
.breadcrumb-leave-active {
  transition: all .5s;
}

.breadcrumb-enter,
.breadcrumb-leave-active {
  opacity: 0;
  transform: translateX(20px);
}

.breadcrumb-move {
  transition: all .5s;
}

.breadcrumb-leave-active {
  position: absolute;
}

// 普通组件透明过渡动画
.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active for below version 2.1.8 */ {
  opacity: 0;
}
